<a href="https://colab.research.google.com/github/aakash563/Python/blob/main/Business_Analysts_and_Text_Minig_text_modeling_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lecture 26 Database Using Python - Pandas - Part I**

* Pandas package
* Used to work with heterogeneous (tabular) data
* Facilitates faster and easier data proceesing

In [ ]:
import pandas as pd

* Frequently used libraries

In [ ]:
from pandas import Series , DataFrame

* Data Structures: Series and DataFrame
* Series
* A sequence of values (similar to 1darray) along with an explicit custom index to access the values
* Like a fixed - length dict : a mapping of index values to data values
* Created using series function

In [ ]:
series1 = pd.Series([22, 33, 44, 55]) # default index: 0 to n-1

In [ ]:
series1

0    22
1    33
2    44
3    55
dtype: int64

* Series properties (attributes)
* 'values'
* It is an array object

In [ ]:
series1.values

array([22, 33, 44, 55])

* index
* It is like range(n)

In [ ]:
series1.index

RangeIndex(start=0, stop=4, step=1)

* custom index: as a list of labels

In [ ]:
series2 = pd.Series([22,33,44,55], index=['a', 'b','c','d'])
series2

a    22
b    33
c    44
d    55
dtype: int64

* Check presence or absence of labels in a series

In [ ]:
'c' in series2

True

In [ ]:
'e' in series2

False

In [ ]:
series2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

* accessing values using labelled indices

In [ ]:
series2['a']

22

In [ ]:
series2[['a', 'c']]

a    22
c    44
dtype: int64

In [ ]:
series2[['c', 'a']]

c    44
a    22
dtype: int64

* index-value link is not disturbed by execution of various operations
* Automatic alignment of index labels with corresponding values and results just like in 'R platform'
* filtering

In [ ]:
series2[series2>0]

a    22
b    33
c    44
d    55
dtype: int64

* Scalar multiplication

In [ ]:
series2*9

a    198
b    297
c    396
d    495
dtype: int64

math operation

In [ ]:
import numpy as np

In [ ]:
np.exp(series2)

a    3.584913e+09
b    2.146436e+14
c    1.285160e+19
d    7.694785e+23
dtype: float64

* converting python dict object into a series object

In [ ]:
PIN_code = {'Roorkee': 247667, 'Dehradun': 248001, 'Haridwar': 249401, 'Nainital': 263001}

In [ ]:
series3 = pd.Series(PIN_code)

In [ ]:
series3

Roorkee     247667
Dehradun    248001
Haridwar    249401
Nainital    263001
dtype: int64

In [ ]:
series3.index

Index(['Roorkee', 'Dehradun', 'Haridwar', 'Nainital'], dtype='object')

In [ ]:
series3.values

array([247667, 248001, 249401, 263001])

* changing index using index argument
e.g, order of indices

In [ ]:
cities = ['Dehradun', 'Haridwar', 'Nainital', 'Roorkee', 'Tehri Garhwal']

In [ ]:
series4 = pd.Series(PIN_code, index = cities)
series4

Dehradun         248001.0
Haridwar         249401.0
Nainital         263001.0
Roorkee          247667.0
Tehri Garhwal         NaN
dtype: float64

* detect missing data
* using isnull and not null data

In [ ]:
pd.isnull(series4)

Dehradun         False
Haridwar         False
Nainital         False
Roorkee          False
Tehri Garhwal     True
dtype: bool

In [ ]:
pd.notnull(series4)

Dehradun          True
Haridwar          True
Nainital          True
Roorkee           True
Tehri Garhwal    False
dtype: bool

* using isnull and notnull methods

In [ ]:
series4.isnull()

Dehradun         False
Haridwar         False
Nainital         False
Roorkee          False
Tehri Garhwal     True
dtype: bool

In [ ]:
series4.notnull()

Dehradun          True
Haridwar          True
Nainital          True
Roorkee           True
Tehri Garhwal    False
dtype: bool

* Alignment frature

In [ ]:
series4 + series3

Dehradun         496002.0
Haridwar         498802.0
Nainital         526002.0
Roorkee          495334.0
Tehri Garhwal         NaN
dtype: float64

* 'name' attributes if series object and its index

In [ ]:
series4.name = 'PIN_code'

In [ ]:
series4.index.name = 'city'

In [ ]:
series4

city
Dehradun         248001.0
Haridwar         249401.0
Nainital         263001.0
Roorkee          247667.0
Tehri Garhwal         NaN
Name: PIN_code, dtype: float64

* changing index using index attribute
* e.g, index **values**

In [ ]:
series1

0    22
1    33
2    44
3    55
dtype: int64

In [ ]:
series1.index = [1,2,3,4]

In [ ]:
series1

1    22
2    33
3    44
4    55
dtype: int64

* DataFrame

* Dataframe represents physically two-dimensional data in a tabular format of rows and columns
* It is like a dict of series elements having a common (row) index
* It has both a row and column index:
* row index is similar to series index (default : 0 to n-1)
* columns can be variables of different value types (numeric, string, boolean, etc)
* created using DataFrame function
* Let's take year-wise metro population data

In [ ]:
dict1 = {'metro':['Delhi','Delhi','Delhi', 'Mumbai','Mumbai','Mumbai'],
         'year': [2011, 2012, 2013, 2011, 2012, 2013],
         'popcr':[1.67, 1.72, 1.77, 2.07, 2.11, 2.15]}

In [ ]:
df = pd.DataFrame(dict1)

In [ ]:
df

    metro  year  popcr
0   Delhi  2011   1.67
1   Delhi  2012   1.72
2   Delhi  2013   1.77
3  Mumbai  2011   2.07
4  Mumbai  2012   2.11
5  Mumbai  2013   2.15

* First five rows

In [ ]:
df.head()

    metro  year  popcr
0   Delhi  2011   1.67
1   Delhi  2012   1.72
2   Delhi  2013   1.77
3  Mumbai  2011   2.07
4  Mumbai  2012   2.11

* Changing the column index using columns argument

In [ ]:
pd.DataFrame(dict1, columns=['year', 'metro', 'popcr'])

   year   metro  popcr
0  2011   Delhi   1.67
1  2012   Delhi   1.72
2  2013   Delhi   1.77
3  2011  Mumbai   2.07
4  2012  Mumbai   2.11
5  2013  Mumbai   2.15

* Changing the row index using index argumnet

In [ ]:
df2 = pd.DataFrame(dict1, columns=['year','metro','popcr','area'], index = list(range(1,7)))
df2

   year   metro  popcr area
1  2011   Delhi   1.67  NaN
2  2012   Delhi   1.72  NaN
3  2013   Delhi   1.77  NaN
4  2011  Mumbai   2.07  NaN
5  2012  Mumbai   2.11  NaN
6  2013  Mumbai   2.15  NaN

**Lecture 27 Database Using Python - Pandas - Part II**

* column index

In [ ]:
df2.columns

Index(['year', 'metro', 'popcr', 'area'], dtype='object')

* Accessing column using dict key like notation

In [ ]:
df2['popcr']

1    1.67
2    1.72
3    1.77
4    2.07
5    2.11
6    2.15
Name: popcr, dtype: float64

* Accessing column using attribute like notation

In [ ]:
df2.year

1    2011
2    2012
3    2013
4    2011
5    2012
6    2013
Name: year, dtype: int64

In [ ]:
df2.popcr

1    1.67
2    1.72
3    1.77
4    2.07
5    2.11
6    2.15
Name: popcr, dtype: float64

* Selecting particular row indices along a column

In [ ]:
df2['popcr'][1:4]

2    1.72
3    1.77
4    2.07
Name: popcr, dtype: float64

In [ ]:
df2['popcr'][:5]

1    1.67
2    1.72
3    1.77
4    2.07
5    2.11
Name: popcr, dtype: float64

In [ ]:
df2['popcr'][:-3]

1    1.67
2    1.72
3    1.77
Name: popcr, dtype: float64

* Accessing row using 'loc' attribute

In [ ]:
df2.loc[1]

year      2011
metro    Delhi
popcr     1.67
area       NaN
Name: 1, dtype: object

In [ ]:
df2.loc[4]

year       2011
metro    Mumbai
popcr      2.07
area        NaN
Name: 4, dtype: object

* Data Proceesing & transformation
* Value assignment
* e.g, area column

In [ ]:
df2['area'] = 6000

In [ ]:
df2

   year   metro  popcr  area
1  2011   Delhi   1.67  6000
2  2012   Delhi   1.72  6000
3  2013   Delhi   1.77  6000
4  2011  Mumbai   2.07  6000
5  2012  Mumbai   2.11  6000
6  2013  Mumbai   2.15  6000

* populating values
* e.g, area column

In [ ]:
df2['area'] = np.arange(6000,6600,100)
df2

   year   metro  popcr  area
1  2011   Delhi   1.67  6000
2  2012   Delhi   1.72  6100
3  2013   Delhi   1.77  6200
4  2011  Mumbai   2.07  6300
5  2012  Mumbai   2.11  6400
6  2013  Mumbai   2.15  6500

* Using series to populate values
* Unmatched indices would be treated as missing values

In [ ]:
val = pd.Series([1.7, 1.9, 2.1], index = [2, 4, 6])
df2['popcr'] = val
df2

   year   metro  popcr  area
1  2011   Delhi    NaN  6000
2  2012   Delhi    1.7  6100
3  2013   Delhi    NaN  6200
4  2011  Mumbai    1.9  6300
5  2012  Mumbai    NaN  6400
6  2013  Mumbai    2.1  6500

* Assigning values to a nonexisting column will also create that column

In [ ]:
df2['northern'] = (df2.metro == 'Delhi')
df2

   year   metro  popcr  area  northern
1  2011   Delhi    NaN  6000      True
2  2012   Delhi    1.7  6100      True
3  2013   Delhi    NaN  6200      True
4  2011  Mumbai    1.9  6300     False
5  2012  Mumbai    NaN  6400     False
6  2013  Mumbai    2.1  6500     False

* Removing a column 
* Using del keyword

In [ ]:
del df2['northern']

In [ ]:
df2.columns

Index(['year', 'metro', 'popcr', 'area'], dtype='object')

* Using nested dict of dicts to create a dataframe
* Outer dict keys are used as column indices and inner keys as row indices

In [ ]:
dict2 = {'Delhi':{2011: 1.6, 2014: 1.9}, 'Mumbai':{2011: 1.9, 2012: 2.0, 2013: 2.1}}
dict2

{'Delhi': {2011: 1.6, 2014: 1.9}, 'Mumbai': {2011: 1.9, 2012: 2.0, 2013: 2.1}}

* Inner dict keys are combined and sorted to forn the index

In [ ]:
df3 = pd.DataFrame(dict2)
df3

      Delhi  Mumbai
2011    1.6     1.9
2014    1.9     NaN
2012    NaN     2.0
2013    NaN     2.1

* Transposing a dataframe: swapping rows and columns
* Using T attribute

In [ ]:
df3.T

        2011  2014  2012  2013
Delhi    1.6   1.9   NaN   NaN
Mumbai   1.9   NaN   2.0   2.1

In [ ]:
df3['Mumbai']

2011    1.9
2014    NaN
2012    2.0
2013    2.1
Name: Mumbai, dtype: float64

* Using dict of series to create a dataframe

In [ ]:
dict2 = {'Delhi': df3['Delhi'][:-1], 'Mumbai': df3['Mumbai'][:2]}
dict2

{'Delhi': 2011    1.6
 2014    1.9
 2012    NaN
 Name: Delhi, dtype: float64, 'Mumbai': 2011    1.9
 2014    NaN
 Name: Mumbai, dtype: float64}

In [ ]:
pd.DataFrame(dict2)

      Delhi  Mumbai
2011    1.6     1.9
2012    NaN     NaN
2014    1.9     NaN

* Name attributes in dataframe

In [ ]:
df3

      Delhi  Mumbai
2011    1.6     1.9
2014    1.9     NaN
2012    NaN     2.0
2013    NaN     2.1

* For row index

In [ ]:
df3.index.name = 'year'

* for column index

In [ ]:
df3.columns.name = 'metro'

In [ ]:
df3

metro  Delhi  Mumbai
year
2011     1.6     1.9
2014     1.9     NaN
2012     NaN     2.0
2013     NaN     2.1

* Values attribbute in dataframe
* e.g., when dataframe columns have same dtype

In [ ]:
df3.values

array([[1.6, 1.9],
       [1.9, nan],
       [nan, 2. ],
       [nan, 2.1]])

* When dataframe columns have different types

In [ ]:
df2

   year   metro  popcr  area
1  2011   Delhi    NaN  6000
2  2012   Delhi    1.7  6100
3  2013   Delhi    NaN  6200
4  2011  Mumbai    1.9  6300
5  2012  Mumbai    NaN  6400
6  2013  Mumbai    2.1  6500

In [ ]:
df2.values

array([[2011, 'Delhi', nan, 6000],
       [2012, 'Delhi', 1.7, 6100],
       [2013, 'Delhi', nan, 6200],
       [2011, 'Mumbai', 1.9, 6300],
       [2012, 'Mumbai', nan, 6400],
       [2013, 'Mumbai', 2.1, 6500]], dtype=object)

* More on 'index objects' in series and dataframe
* immutable array -like objects
* Also store metadata other than axis labels (index values)
* Sentences of labels used while creating a series or dataframe are iinternally converted into index object

In [ ]:
series5 = pd.Series(range(3), index = ['a', 'b', 'c'])

In [ ]:
series5.index

Index(['a', 'b', 'c'], dtype='object')

* Subsetting

In [ ]:
ind1 = series5.index

In [ ]:
ind1[1:]

Index(['b', 'c'], dtype='object')

In [ ]:
ind1[0:2]

Index(['a', 'b'], dtype='object')

* immutability

In [ ]:
ind1[1] = 'd'

TypeError: ignored

* Creating index using Index function

In [ ]:
ind2 = pd.Index(np.arange(3))

In [ ]:
ind2

Int64Index([0, 1, 2], dtype='int64')

In [ ]:
series6 = pd.Series([1.5, -2.5, 0], index = ind2)
series6

0    1.5
1   -2.5
2    0.0
dtype: float64

In [ ]:
series6.index is ind2

True

* Index objects display set like behavior

In [ ]:
df3

metro  Delhi  Mumbai
year
2011     1.6     1.9
2014     1.9     NaN
2012     NaN     2.0
2013     NaN     2.1

In [ ]:
df3.columns

Index(['Delhi', 'Mumbai'], dtype='object', name='metro')

In [ ]:
'Mumbai' in df3.columns

True

In [ ]:
2014 in df3.index

True

* However, index objects can have duplicate elements unlike sets

In [ ]:
ind3 = pd.Index(['beta', 'alpha', 'beta', 'sigma'])

In [ ]:
ind3

Index(['beta', 'alpha', 'beta', 'sigma'], dtype='object')

In [ ]:
series7 = pd.Series([1.1, 1.2, 1.3, 1.4], index = ind3)

In [ ]:
series7

beta     1.1
alpha    1.2
beta     1.3
sigma    1.4
dtype: float64

In [ ]:
series7['beta']

beta    1.1
beta    1.3
dtype: float64

* Interaction mechanism with the data in a series or dataframe
* Example: reindexing
* Using reindex method

In [ ]:
series8 = pd.Series([4.5, 7.2, -5.3, 3.6], index = ['d', 'b','a', 'c'])

In [ ]:
series8

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

**Lecture 28 Database Using Python - Pandas - Part III**

In [ ]:
series9 = series8.reindex(['a', 'b', 'c', 'd', 'e'])

In [ ]:
series9

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

* filling values when reindexing 
* Using ffill method

In [ ]:
series10 = pd.Series(['blue', 'purple', 'yellow'], index = [0, 2, 4])

In [ ]:
series10

0      blue
2    purple
4    yellow
dtype: object

In [ ]:
series11 = series10.reindex(range(6), method = 'ffill')
series11

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

* Reindexing with dataframe

In [ ]:
df4 = pd.DataFrame(np.arange(9).reshape((3,3)), index = ['a', 'c', 'd'], columns=['Delhi', 'Mumbai', 'Bangalore'])
df4

   Delhi  Mumbai  Bangalore
a      0       1          2
c      3       4          5
d      6       7          8

* Reindexing rows index

In [ ]:
df5 = df4.reindex(['a', 'b', 'c', 'd'])
df5

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
b    NaN     NaN        NaN
c    3.0     4.0        5.0
d    6.0     7.0        8.0

* reindexing columns index
* Using columns argument

In [ ]:
df5.reindex(columns= ['Bangalore', 'Delhi', 'Mumbai'])

   Bangalore  Delhi  Mumbai
a        2.0    0.0     1.0
b        NaN    NaN     NaN
c        5.0    3.0     4.0
d        8.0    6.0     7.0

* reindexing using loc attribute

In [ ]:
df4.loc[['a', 'b', 'c', 'd'], ['Bangalore' , 'Delhi', 'Mumbai']]

KeyError: ignored

* Example: dropping cases or rows
* using drop method

In [ ]:
df5

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
b    NaN     NaN        NaN
c    3.0     4.0        5.0
d    6.0     7.0        8.0

In [ ]:
df5.drop('b')

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
c    3.0     4.0        5.0
d    6.0     7.0        8.0

In [ ]:
df5.drop(['a', 'c'])

   Delhi  Mumbai  Bangalore
b    NaN     NaN        NaN
d    6.0     7.0        8.0

* Example: dropping columns or variables

In [ ]:
df5

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
b    NaN     NaN        NaN
c    3.0     4.0        5.0
d    6.0     7.0        8.0

In [ ]:
df5.drop('Bangalore', axis = 1)

   Delhi  Mumbai
a    0.0     1.0
b    NaN     NaN
c    3.0     4.0
d    6.0     7.0

In [ ]:
df5.drop(['Delhi', 'Mumbai'], axis =1)

   Bangalore
a        2.0
b        NaN
c        5.0
d        8.0

* using in-place version of drop method
* using inplace argument

In [ ]:
df5

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
b    NaN     NaN        NaN
c    3.0     4.0        5.0
d    6.0     7.0        8.0

In [ ]:
df5

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
b    NaN     NaN        NaN
c    3.0     4.0        5.0
d    6.0     7.0        8.0

In [ ]:
df5.drop('b', inplace=True)
df5

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
c    3.0     4.0        5.0
d    6.0     7.0        8.0

* Example: access, selection, and filtering
* working with a series

In [ ]:
series11

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [ ]:
series7

beta     1.1
alpha    1.2
beta     1.3
sigma    1.4
dtype: float64

* accessing one row

In [ ]:
series11[3]

'purple'

In [ ]:
series7['sigma']

1.4

* accessing a range of rows

In [ ]:
series11[3:5]

3    purple
4    yellow
dtype: object

* Selecting few rows

In [ ]:
series7[['sigma', 'alpha']]

sigma    1.4
alpha    1.2
dtype: float64

In [ ]:
series11[[1,5]]

1      blue
5    yellow
dtype: object

* filtering rows based on some logic

In [ ]:
series7

beta     1.1
alpha    1.2
beta     1.3
sigma    1.4
dtype: float64

In [ ]:
series7[series7 < 1.3]

beta     1.1
alpha    1.2
dtype: float64

* slicing
* Note: end-point in inclusive

In [ ]:
series7['alpha':'sigma']

alpha    1.2
beta     1.3
sigma    1.4
dtype: float64

* doesn't work with non-uniqe index labels

In [ ]:
series7['beta':'sigma']

KeyError: ignored

In [ ]:
series7['alpha':'sigma'] = 1.3

In [ ]:
series7

beta     1.1
alpha    1.3
beta     1.3
sigma    1.3
dtype: float64

* working with dataframe

In [ ]:
df5

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
c    3.0     4.0        5.0
d    6.0     7.0        8.0

* accessing columns

In [ ]:
df5['Delhi']

a    0.0
c    3.0
d    6.0
Name: Delhi, dtype: float64

In [ ]:
df5[['Delhi', 'Bangalore']]

   Delhi  Bangalore
a    0.0        2.0
c    3.0        5.0
d    6.0        8.0

* slicing rows

In [ ]:
df5[:2]

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
c    3.0     4.0        5.0

In [ ]:
df5[1:2]

   Delhi  Mumbai  Bangalore
c    3.0     4.0        5.0

* filtering rows

In [ ]:
df5[df5['Bangalore']>5]

   Delhi  Mumbai  Bangalore
d    6.0     7.0        8.0

* working with a boolean dataframe

In [ ]:
df5 < 5

   Delhi  Mumbai  Bangalore
a   True    True       True
c   True    True      False
d  False   False      False

In [ ]:
df5[df5<5]

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
c    3.0     4.0        NaN
d    NaN     NaN        NaN

In [ ]:
df5[df5<5] = 0

In [ ]:
df5

   Delhi  Mumbai  Bangalore
a    0.0     0.0        0.0
c    0.0     0.0        5.0
d    6.0     7.0        8.0

* indexing operators loc and iloc
* loc is used with axis labels
* iloc is used with integer values corresponding to axis labels

In [ ]:
df5

   Delhi  Mumbai  Bangalore
a    0.0     0.0        0.0
c    0.0     0.0        5.0
d    6.0     7.0        8.0

In [ ]:
df5.loc['a', 'Delhi']

0.0

In [ ]:
df5.loc['a',['Delhi', 'Bangalore']]

Delhi        0.0
Bangalore    0.0
Name: a, dtype: float64

In [ ]:
df5.loc[['a', 'b'], ['Delhi', 'Bangalore']]

KeyError: ignored

In [ ]:
df5.loc[['a', 'd'], ['Delhi', 'Bangalore']]

   Delhi  Bangalore
a    0.0        0.0
d    6.0        8.0

In [ ]:
df5.iloc[0,0]

0.0

In [ ]:
df5.iloc[0, [0,1]]

Delhi     0.0
Mumbai    0.0
Name: a, dtype: float64

In [ ]:
df5.iloc[[0,1], [0,1]]

   Delhi  Mumbai
a    0.0     0.0
c    0.0     0.0

In [ ]:
df5.iloc[1]

Delhi        0.0
Mumbai       0.0
Bangalore    5.0
Name: c, dtype: float64

In [ ]:
df5.iloc[[1,2], [2,0,1]]

   Bangalore  Delhi  Mumbai
c        5.0    0.0     0.0
d        8.0    6.0     7.0

* slicing with loc and iloc

In [ ]:
df5.loc[:'c', 'Delhi']

a    0.0
c    0.0
Name: Delhi, dtype: float64

In [ ]:
df5.loc['c':'d', 'Delhi']

c    0.0
d    6.0
Name: Delhi, dtype: float64

In [ ]:
df5.loc['c':'d', 'Delhi':'Bangalore']

   Delhi  Mumbai  Bangalore
c    0.0     0.0        5.0
d    6.0     7.0        8.0

In [ ]:
df5.iloc[:, 1:2]

   Mumbai
a     0.0
c     0.0
d     7.0

In [ ]:
df5.iloc[:,0:2][df5.Mumbai != 0]

   Delhi  Mumbai
d    6.0     7.0

* more on integer indexing

In [ ]:
series11

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

* fail due to inference ambiguity (label - based indexing or position-based)

In [ ]:
series11[-3]

KeyError: ignored

In [ ]:
series7

beta     1.1
alpha    1.3
beta     1.3
sigma    1.3
dtype: float64

* Succeeds due to inference ambiguity (label-based indexing or position-based)

In [ ]:
series7[-1]

1.3

* Example: arithmetic between abjects with unmatched indexes
* for matched indices, operation woul be applied
* for unmatched indices, a union of unmatched indices with NaN values is kept

In [ ]:
series12 = pd.Series([7.3, -2.5, 3.4, 1.5], index = ['a', 'c', 'd', 'e'])

In [ ]:
series12

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

**Lecture 29 Database Using Python - Pandas - Part IV**

In [ ]:
series13 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index= ['a', 'c', 'e','f','g'])

In [ ]:
series13

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [ ]:
series12 + series13

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [ ]:
df5

   Delhi  Mumbai  Bangalore
a    0.0     0.0        0.0
c    0.0     0.0        5.0
d    6.0     7.0        8.0

In [ ]:
df4

   Delhi  Mumbai  Bangalore
a      0       1          2
c      3       4          5
d      6       7          8

In [ ]:
df4.reindex(['a', 'b','c','d'])
df4

   Delhi  Mumbai  Bangalore
a      0       1          2
c      3       4          5
d      6       7          8

In [ ]:
df4 + df5

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
c    3.0     4.0       10.0
d   12.0    14.0       16.0

* Filling values in the operation involving unmatched indices
* Uising add method
* fill NaNs in df5 with 0s

In [ ]:
df4.add(df5, fill_value=0) # doesn't work since df4 still has NaN values

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
c    3.0     4.0       10.0
d   12.0    14.0       16.0

In [ ]:
df4[1:2] = 2
df4

   Delhi  Mumbai  Bangalore
a      0       1          2
c      2       2          2
d      6       7          8

In [ ]:
df4.add(df5, fill_value = 0)

   Delhi  Mumbai  Bangalore
a    0.0     1.0        2.0
c    2.0     2.0        7.0
d   12.0    14.0       16.0

* using div method

In [ ]:
2/df4

      Delhi    Mumbai  Bangalore
a       inf  2.000000       1.00
c  1.000000  1.000000       1.00
d  0.333333  0.285714       0.25

In [ ]:
df4.div(2)

   Delhi  Mumbai  Bangalore
a    0.0     0.5        1.0
c    1.0     1.0        1.0
d    3.0     3.5        4.0

* rdiv method: div with argument filpped

In [ ]:
df4.rdiv(2)

      Delhi    Mumbai  Bangalore
a       inf  2.000000       1.00
c  1.000000  1.000000       1.00
d  0.333333  0.285714       0.25

* Example: arithmetic between dataframe and series
* similar to 2darray and 1darray scenario
* let's first consider 2darray and 1darray

In [ ]:
arr = np.arange(12.).reshape((3,4))

In [ ]:
arr

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.]])

In [ ]:
arr.shape

(3, 4)

In [ ]:
arr[0]

array([0., 1., 2., 3.])

In [ ]:
arr[0].shape

(4,)

* Difference between 2darray and 1darray
* "broadcasting" happens: subtraction is performed once for each row

In [ ]:
arr - arr[0]

array([[0., 0., 0., 0.],
       [4., 4., 4., 4.],
       [8., 8., 8., 8.]])

In [ ]:
df4

   Delhi  Mumbai  Bangalore
a      0       1          2
c      2       2          2
d      6       7          8

In [ ]:
series0_df4 = df4.iloc[0]

In [ ]:
series0_df4

Delhi        0
Mumbai       1
Bangalore    2
Name: a, dtype: int64

* Broadcasting over the rows

In [ ]:
df4 - series0_df4

   Delhi  Mumbai  Bangalore
a      0       0          0
c      2       1          0
d      6       6          6

* for unmatched indices, a union of unmatched indices with NaN values is kept

In [ ]:
series14 = pd.Series(range(3), index=['Delhi', 'Hyderabad', 'Bangalore'])
series14

Delhi        0
Hyderabad    1
Bangalore    2
dtype: int64

In [ ]:
df4

   Delhi  Mumbai  Bangalore
a      0       1          2
c      2       2          2
d      6       7          8

In [ ]:
df4 + series14

   Bangalore  Delhi  Hyderabad  Mumbai
a        4.0    0.0        NaN     NaN
c        4.0    2.0        NaN     NaN
d       10.0    6.0        NaN     NaN

* Broadcast over the columns
* using various arithematic methods
* e.g, sub method for subtraction: match index axis and broadcast over columns

In [ ]:
series15 = df4['Mumbai']

In [ ]:
series15

a    1
c    2
d    7
Name: Mumbai, dtype: int64

In [ ]:
df4

   Delhi  Mumbai  Bangalore
a      0       1          2
c      2       2          2
d      6       7          8

In [ ]:
df4.sub(series15, axis = 'index')

   Delhi  Mumbai  Bangalore
a     -1       0          1
c      0       0          0
d     -1       0          1

* Example : applying functions and methods
* Numpy element-wise array functions

In [ ]:
df4

   Delhi  Mumbai  Bangalore
a      0       1          2
c      2       2          2
d      6       7          8

* Absolute value of each element in the dataframe

In [ ]:
np.abs(df4)

   Delhi  Mumbai  Bangalore
a      0       1          2
c      2       2          2
d      6       7          8

* Dataframe methods
* apply method : used to apply a function on all columns or rows (1darrays)
* e.g., difference between max and min value of a series

In [ ]:
f = lambda x: x.max() - x.min()

* broadcast over the columns

In [ ]:
df4.apply(f)

Delhi        6
Mumbai       6
Bangalore    6
dtype: int64

* broadcaste over the rows

In [ ]:
df4.apply(f, axis='columns')

a    2
c    0
d    2
dtype: int64

* sum method

In [ ]:
df4.sum() # column sums

Delhi         8
Mumbai       10
Bangalore    12
dtype: int64

In [ ]:
df4.sum(axis = 'columns')

a     3
c     6
d    21
dtype: int64

* mean method

In [ ]:
df4

   Delhi  Mumbai  Bangalore
a      0       1          2
c      2       2          2
d      6       7          8

In [ ]:
df4.mean()

Delhi        2.666667
Mumbai       3.333333
Bangalore    4.000000
dtype: float64

In [ ]:
df4.mean(axis = 1)

a    1.0
c    2.0
d    7.0
dtype: float64

In [ ]:
df4.mean(axis = 0)

Delhi        2.666667
Mumbai       3.333333
Bangalore    4.000000
dtype: float64

In [ ]:
df4.mean(axis = 'columns') # row means

a    1.0
c    2.0
d    7.0
dtype: float64

* returning multiple values using series

In [ ]:
def f1(x):
  return pd.Series([x.min(), x.max()], index = ['min', 'max'])

In [ ]:
df4.apply(f1)

     Delhi  Mumbai  Bangalore
min      0       1          2
max      6       7          8

* Element - wise Python method
* e.g., compute a formatted string from each floating point value
* using applymap method

In [ ]:
f2 = lambda x : '%.2f' % x

In [ ]:
df4.applymap(f2)

  Delhi Mumbai Bangalore
a  0.00   1.00      2.00
c  2.00   2.00      2.00
d  6.00   7.00      8.00

* using map method for series

In [ ]:
df4['Delhi'].map(f2)

a    0.00
c    2.00
d    6.00
Name: Delhi, dtype: object

* sorting by index using sort_index method (default: ascending order)

In [ ]:
series16 = pd.Series([4,7,-3,2], index = ['d', 'a', 'b','c'])

In [ ]:
series16

d    4
a    7
b   -3
c    2
dtype: int64

In [ ]:
series16.sort_index()

a    7
b   -3
c    2
d    4
dtype: int64

In [ ]:
df6 = pd.DataFrame(np.arange(8).reshape((2,4)), index = ['three', 'one'], columns=['d','a','b','c'])

In [ ]:
df6

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

* sorting the row index column

In [ ]:
df6.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [ ]:
df6.sort_values(by='a')

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

* sorting the column index row

In [ ]:
df6.sort_index(axis = 1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [ ]:
df6.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

* sorting by values sort_values method (NaN values at end)

In [ ]:
series6.sort_values()

1   -2.5
2    0.0
0    1.5
dtype: float64

In [ ]:
df7 = pd.DataFrame({'b': [4,7,-3,2], 'a':[0,1,0,1]})

In [ ]:
df7

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

* using one column

In [ ]:
df7.sort_values(by= 'b')

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

* using multiple columns

In [ ]:
df7.sort_values(by = ['a', 'b'])

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

* ranking by value using rank method (default: ascending order)
* default: breaks ties by assigning each group the mean rank

In [ ]:
series17 = pd.Series([7, -5, 7, 4, 2, 0, 4])

In [ ]:
series17

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [ ]:
series17.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

* break ties using order of listing
* use method argument
* e.g,. to break ties element listed first would be rated first

In [ ]:
series17.rank(method = 'first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [ ]:
series17.rank(method = 'first', ascending=False)

0    1.0
1    7.0
2    2.0
3    3.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [ ]:
df7

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

* along the column by camparing row elements

In [ ]:
df7

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [ ]:
df7.rank()

     b    a
0  3.0  1.5
1  4.0  3.5
2  1.0  1.5
3  2.0  3.5

* along the row by camparing column elements

In [ ]:
df7.rank(axis = 'columns')

     b    a
0  2.0  1.0
1  2.0  1.0
2  1.0  2.0
3  2.0  1.0

* Example: axes with duplicate labels
* many pandas functions require unique axis labels, but not all

In [ ]:
series7

beta     1.1
alpha    1.3
beta     1.3
sigma    1.3
dtype: float64

* checking uniqueness of labels
* using 'is_unique' property of indixes

In [ ]:
series7.index.is_unique

False

* changes in accessing elements using non-unique indexes

In [ ]:
series7['alpha'] # a scalar value is returned

1.3

In [ ]:
series7['beta'] # a series is returned

beta    1.1
beta    1.3
dtype: float64

In [ ]:
import numpy as np

In [ ]:
df8 = pd.DataFrame(np.random.randn(5,3), index = ['a', 'a', 'b', 'b','c'])

In [ ]:
df8

          0         1         2
a  1.622386 -1.556661 -1.002333
a  0.962694 -0.997598  0.285303
b  0.135394  1.091393 -0.845039
b  0.361762  0.709599  1.626005
c  1.082687  1.082867 -1.439095

In [ ]:
df8.loc['b'] # a dataframe is returned

          0         1         2
b  0.135394  1.091393 -0.845039
b  0.361762  0.709599  1.626005

In [ ]:
df8.loc['c'] # a series returned

0    1.082687
1    1.082867
2   -1.439095
Name: c, dtype: float64

* Descriptive statistics

In [ ]:
df9 = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index=['a', 'b','c','d'] , columns=['one', 'two'])

In [ ]:
df9

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

* column sum

In [ ]:
df9.sum() # NaN values are excluded

one    9.25
two   -5.80
dtype: float64

* row sums

In [ ]:
df9.sum(axis = 1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

* skipna argument (default is True)

In [ ]:
df9.sum(axis = 'columns', skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

* column means

In [ ]:
df9.mean()

one    3.083333
two   -2.900000
dtype: float64

* column and row indexes of the maximumn value

In [ ]:
df9

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [ ]:
df9.idxmax()

one    b
two    d
dtype: object

In [ ]:
df9

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [ ]:
df9.idxmin()

one    d
two    b
dtype: object

* column cumulative sums

In [ ]:
df9

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [ ]:
df9.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

* multiple statistics using describe method

In [ ]:
df9.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

* describe method for non-numeric data

In [ ]:
pd.Series(['a','b','b','c']*4).describe()

count     16
unique     3
top        b
freq       8
dtype: object

In [ ]:
pd.Series(['a', 'a','b','c']*4)

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

* correlation and covariance
* computed from a pair of variables
* Example : obtain stock prices and volumes data from yahoo! Finance
* Using pandas_datareader module
* install pandas - datareader using anaconda navigator
* or using anaconda prompt : conda install pandas - datareader
* then

In [ ]:
import pandas_datareader as web

* download the ticker level data
* using get_data_yahoo function

In [ ]:
dataset = {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

RemoteDataError: ignored

* unique values using unique method

In [ ]:
series18 = pd.Series(['c', 'a','d','a','a', 'b','b','c','c'])

In [ ]:
unq = series18.unique()

In [ ]:
unq

array(['c', 'a', 'd', 'b'], dtype=object)

In [ ]:
unq.sort()

In [ ]:
unq

array(['a', 'b', 'c', 'd'], dtype=object)

* containing value frequencies using value_counts method

In [ ]:
series18.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

* using pandas value_counts function

In [ ]:
pd.value_counts(series18.values, sort = False)

b    2
c    3
a    3
d    1
dtype: int64

* filter presence or absence of an element
* using isin method

In [ ]:
series18.isin(['b'])

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7    False
8    False
dtype: bool

In [ ]:
series18.isin(['b', 'c'])

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [ ]:
filter1 = series18.isin(['b', 'c'])

In [ ]:
series18[filter1]

0    c
5    b
6    b
7    c
8    c
dtype: object

* Compute frequencies in multiple related columns

In [ ]:
df10 = pd.DataFrame({'Qu1': [1,3,4,3,4], 'Qu2':[2,3,1,2,3], 'Qu3': [1,5,2,4,4]})

In [ ]:
df10

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

* row labels indicate the distinct values of the dataframe
* values indicate the count of these distict  values in the respective columns

In [ ]:
df10.apply(pd.value_counts)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

* fill NaN with 0s

In [ ]:
df10.apply(pd.value_counts).fillna(0)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

* End of Session on Python Pandas

**Lecture 30 Python Working with Data - PartI**

* load requied library modules

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

* Working with csv files
* reading a csv file into a dataframe
* Example: ex1.csv
*print file contents

In [ ]:
%pycat ex1.csv

Error: no such file, variable, URL, history range or macro

* using read_csv function

* df = pd.read_csv('ex1.csv')
* df

* reading file without header
* pd.read_csv('ex2.csv', header = None)

* Specify header names
* pd.read_csv('ex2.csv', name = ['a',  'b', 'c', 'd', 'message'])

* skipping rows with unwanted data
* pd.read_csv('ex4.csv', skiprows=[0,2,3])

* Writing a dataframe into a csv file
* using to_csv method
* df.to_csv('write1.csv')

* Reading an excel file into a dataframe
* reading multiple sheets in a file
* It is faster to use ExcelFile function
* On Excelfile object is returned

* using read_excel function to create the dataframe
* df3 = pd.read_excel('ex1.xlsx', 'sheet1')

* writing a dataframe into an excel file
* using the ExcelWriter function (suitable for writing multiple sheets)
* an ExcelWriter object is returned

* using to_excel function to write the dataframe
* df3.to_excel(ew, 'sheet1')

* save the write2.xlsx file using save method
ew.save()

* avoid ExcelWriter for one sheet
* pass the file path to the to_excel function

* df3.to_excel('write3.xlsx')

* Working with Web APIs
* sites offer public APIs to provide data feeds via JSON or some other format
* using requests package (easy to use)

In [ ]:
import requests

* Example: GitHub website
* e.ge, last 30 GitHub issues for pandas posted on GitHub

In [ ]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

* using get function 
* a response object is returned

In [ ]:
resp = requests.get(url)

In [ ]:
resp

* using json method
* to abtain a list of dicts having all the data on a GitHub issue page (except for comments)

In [ ]:
v1 = resp.json()

In [ ]:
v1

[{'active_lock_reason': None,
  'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': 'xref https://github.com/pandas-dev/pandas/pull/43952/checks?check_run_id=3849531985 as an exxample\r\n\r\nmaybe something got released / renamed? looks like an issue with coverage\r\n\r\n```\r\nFile "/usr/share/miniconda/envs/pandas-dev/lib/python3.9/site-packages/pytest_cov/plugin.py", line 126, in pytest_load_initial_conftests\r\n    plugin = CovPlugin(options, early_config.pluginmanager)\r\n  File "/usr/share/miniconda/envs/pandas-dev/lib/python3.9/site-packages/pytest_cov/plugin.py", line 175, in __init__\r\n    self.start(engine.DistMaster)\r\n  File "/usr/share/miniconda/envs/pandas-dev/lib/python3.9/site-packages/pytest_cov/plugin.py", line 199, in start\r\n    self.cov_controller.start()\r\n  File "/usr/share/miniconda/envs/pandas-dev/lib/python3.9/site-packages/pytest_cov/engine.py", line 44, in ensure_topdir_wrapper\r\n    return meth(self, *args, **kwargs)\r\n  File "/usr/share/miniconda/envs/pandas-dev/lib/python3.9/site-packages/pytest_cov/engine.py", line 267, in start\r\n    self.cov.start()\r\n  File "/usr/share/miniconda/envs/pandas-dev/lib/python3.9/site-packages/coverage/control.py", line 532, in start\r\n    self._init()\r\n  File "/usr/share/miniconda/envs/pandas-dev/lib/python3.9/site-packages/coverage/control.py", line 275, in _init\r\n    self._plugins = Plugins.load_plugins(self.config.plugins, self.config, self._debug)\r\n  File "/usr/share/miniconda/envs/pandas-dev/lib/python3.9/site-packages/coverage/plugin_support.py", line 41, in load_plugins\r\n    __import__(module)\r\nModuleNotFoundError: No module named \'Cython\'\r\n```\r\n\r\ncc @pandas-dev/pandas-core ',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43957/comments',
  'created_at': '2021-10-10T14:37:20Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43957/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/43957',
  'id': 1022001494,
  'labels': [{'color': '75507B',
    'default': False,
    'description': 'Library building on various platforms',
    'id': 129350,
    'name': 'Build',
    'node_id': 'MDU6TGFiZWwxMjkzNTA=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Build'},
   {'color': 'd93f0b',
    'default': False,
    'description': 'Required and optional dependencies',
    'id': 527603109,
    'name': 'Dependencies',
    'node_id': 'MDU6TGFiZWw1Mjc2MDMxMDk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Dependencies'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43957/labels{/name}',
  'locked': False,
  'milestone': {'closed_at': None,
   'closed_issues': 822,
   'created_at': '2021-06-09T18:28:42Z',
   'creator': {'avatar_url': 'https://avatars.githubusercontent.com/u/953992?v=4',
    'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
    'followers_url': 'https://api.github.com/users/jreback/followers',
    'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
    'gravatar_id': '',
    'html_url': 'https://github.com/jreback',
    'id': 953992,
    'login': 'jreback',
    'node_id': 'MDQ6VXNlcjk1Mzk5Mg==',
    'organizations_url': 'https://api.github.com/users/jreback/orgs',
    'received_events_url': 'https://api.github.com/users/jreback/received_events',
    'repos_url': 'https://api.github.com/users/jreback/repos',
    'site_admin': False,
    'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
    'type': 'User',
    'url': 'https://api.github.com/users/jreback'},
   'description': '',
   'due_on': '2021-12-31T08:00:00Z',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/86',
   'id': 6840253,
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/86/labels',
   'node_id': 'MDk6TWlsZXN0b25lNjg0MDI1Mw==',
   'number': 86,
   'open_issues': 68,
   'state': 'open',
   'title': '1.4',
   'updated_at': '2021-10-10T14:39:46Z',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/86'},
  'node_id': 'I_kwDOAA0YD8486oFW',
  'number': 43957,
  'performed_via_github_app': None,
  'reactions': {'+1': 0,
   '-1': 0,
   'confused': 0,
   'eyes': 0,
   'heart': 0,
   'hooray': 0,
   'laugh': 0,
   'rocket': 0,
   'total_count': 0,
   'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43957/reactions'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43957/timeline',
  'title': 'DEPS/BLD: 3.9 builds breaking with missing Cython',
  'updated_at': '2021-10-10T14:38:17Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43957',
  'user': {'avatar_url': 'https://avatars.githubusercontent.com/u/953992?v=4',
   'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
   'followers_url': 'https://api.github.com/users/jreback/followers',
   'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/jreback',
   'id': 953992,
   'login': 'jreback',
   'node_id': 'MDQ6VXNlcjk1Mzk5Mg==',
   'organizations_url': 'https://api.github.com/users/jreback/orgs',
   'received_events_url': 'https://api.github.com/users/jreback/received_events',
   'repos_url': 'https://api.github.com/users/jreback/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/jreback'}},
 {'active_lock_reason': None,
  'assignee': None,
  'assignees': [],
  'author_association': 'NONE',
  'body': 'I commonly deal with time-series data with gaps and would like Pandas to have the functionality to either apply a custom interpolation function which I can specify into .interpolate or have a dedicated time series data generator based on say the rolling N period values with some noise added to it for real-world applicability.',
  'closed_at': None,
  'comments': 3,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43956/comments',
  'created_at': '2021-10-10T12:21:34Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43956/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/43956',
  'id': 1021969255,
  'labels': [{'color': '4E9A06',
    'default': False,
    'description': None,
    'id': 76812,
    'name': 'Enhancement',
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement'},
   {'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member',
    'id': 1954720290,
    'name': 'Needs Triage',
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43956/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'I_kwDOAA0YD8486gNn',
  'number': 43956,
  'performed_via_github_app': None,
  'reactions': {'+1': 0,
   '-1': 0,
   'confused': 0,
   'eyes': 0,
   'heart': 0,
   'hooray': 0,
   'laugh': 0,
   'rocket': 0,
   'total_count': 0,
   'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43956/reactions'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43956/timeline',
  'title': 'ENH: Rolling TimeSeries Interpolation Methods',
  'updated_at': '2021-10-10T16:02:51Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43956',
  'user': {'avatar_url': 'https://avatars.githubusercontent.com/u/65822493?v=4',
   'events_url': 'https://api.github.com/users/sweg44/events{/privacy}',
   'followers_url': 'https://api.github.com/users/sweg44/followers',
   'following_url': 'https://api.github.com/users/sweg44/following{/other_user}',
   'gists_url': 'https://api.github.com/users/sweg44/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/sweg44',
   'id': 65822493,
   'login': 'sweg44',
   'node_id': 'MDQ6VXNlcjY1ODIyNDkz',
   'organizations_url': 'https://api.github.com/users/sweg44/orgs',
   'received_events_url': 'https://api.github.com/users/sweg44/received_events',
   'repos_url': 'https://api.github.com/users/sweg44/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/sweg44/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/sweg44/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/sweg44'}},
 {'active_lock_reason': None,
  'assignee': None,
  'assignees': [],
  'author_association': 'NONE',
  'body': "- [x] closes #43937\r\n- [x] tests added / passed\r\n- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit) for how to run them\r\n- [x] Cancel replace's doc list item text bold effect, detail could see below.\r\n\r\nFrom \r\n![image](https://user-images.githubusercontent.com/25895405/136691591-6aae6597-99e7-4ae4-bca6-1e7380b1cad4.png)\r\nTo\r\n![image](https://user-images.githubusercontent.com/25895405/136691594-c2b14ad8-c761-49c9-9ba3-b1a472280df7.png)\r\n\r\n",
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43955/comments',
  'created_at': '2021-10-10T10:17:20Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43955/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/43955',
  'id': 1021941239,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43955/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'PR_kwDOAA0YD84s-2kj',
  'number': 43955,
  'performed_via_github_app': None,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/43955.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/43955',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/43955.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/43955'},
  'reactions': {'+1': 0,
   '-1': 0,
   'confused': 0,
   'eyes': 0,
   'heart': 0,
   'hooray': 0,
   'laugh': 0,
   'rocket': 0,
   'total_count': 0,
   'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43955/reactions'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43955/timeline',
  'title': "DOC: cancel replace's doc list item text bold effect",
  'updated_at': '2021-10-10T12:59:42Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43955',
  'user': {'avatar_url': 'https://avatars.githubusercontent.com/u/25895405?v=4',
   'events_url': 'https://api.github.com/users/Zeroto521/events{/privacy}',
   'followers_url': 'https://api.github.com/users/Zeroto521/followers',
   'following_url': 'https://api.github.com/users/Zeroto521/following{/other_user}',
   'gists_url': 'https://api.github.com/users/Zeroto521/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/Zeroto521',
   'id': 25895405,
   'login': 'Zeroto521',
   'node_id': 'MDQ6VXNlcjI1ODk1NDA1',
   'organizations_url': 'https://api.github.com/users/Zeroto521/orgs',
   'received_events_url': 'https://api.github.com/users/Zeroto521/received_events',
   'repos_url': 'https://api.github.com/users/Zeroto521/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/Zeroto521/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/Zeroto521/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/Zeroto521'}},
 {'active_lock_reason': None,
  'assignee': None,
  'assignees': [],
  'author_association': 'MEMBER',
  'body': '```\r\nimport pandas as pd\r\n\r\nidx = pd.Index([4, 5, 6])\r\n\r\n%timeit idx.insert(1, 19)\r\n26.7 µs ± 299 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)  # <- master\r\n15.5 µs ± 185 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)  # <- PR\r\n```',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43953/comments',
  'created_at': '2021-10-10T04:03:53Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43953/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/43953',
  'id': 1021873407,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43953/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'PR_kwDOAA0YD84s-rbf',
  'number': 43953,
  'performed_via_github_app': None,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/43953.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/43953',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/43953.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/43953'},
  'reactions': {'+1': 0,
   '-1': 0,
   'confused': 0,
   'eyes': 0,
   'heart': 0,
   'hooray': 0,
   'laugh': 0,
   'rocket': 0,
   'total_count': 0,
   'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43953/reactions'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43953/timeline',
  'title': 'PERF: Index.insert',
  'updated_at': '2021-10-10T15:03:32Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43953',
  'user': {'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/jbrockmendel',
   'id': 8078968,
   'login': 'jbrockmendel',
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/jbrockmendel'}},
 {'active_lock_reason': None,
  'assignee': None,
  'assignees': [],
  'author_association': 'MEMBER',
  'body': '- [ ] closes #xxxx\r\n- [ ] tests added / passed\r\n- [ ] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit) for how to run them\r\n- [ ] whatsnew entry\r\n',
  'closed_at': None,
  'comments': 2,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43952/comments',
  'created_at': '2021-10-10T03:42:18Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43952/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/43952',
  'id': 1021870420,
  'labels': [{'color': 'FCE94F',
    'default': False,
    'description': 'Internal refactoring of code',
    'id': 127681,
    'name': 'Refactor',
    'node_id': 'MDU6TGFiZWwxMjc2ODE=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Refactor'},
   {'color': 'e99695',
    'default': False,
    'description': 'Related to the Index class or subclasses',
    'id': 1218227310,
    'name': 'Index',
    'node_id': 'MDU6TGFiZWwxMjE4MjI3MzEw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Index'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43952/labels{/name}',
  'locked': False,
  'milestone': {'closed_at': None,
   'closed_issues': 822,
   'created_at': '2021-06-09T18:28:42Z',
   'creator': {'avatar_url': 'https://avatars.githubusercontent.com/u/953992?v=4',
    'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
    'followers_url': 'https://api.github.com/users/jreback/followers',
    'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
    'gravatar_id': '',
    'html_url': 'https://github.com/jreback',
    'id': 953992,
    'login': 'jreback',
    'node_id': 'MDQ6VXNlcjk1Mzk5Mg==',
    'organizations_url': 'https://api.github.com/users/jreback/orgs',
    'received_events_url': 'https://api.github.com/users/jreback/received_events',
    'repos_url': 'https://api.github.com/users/jreback/repos',
    'site_admin': False,
    'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
    'type': 'User',
    'url': 'https://api.github.com/users/jreback'},
   'description': '',
   'due_on': '2021-12-31T08:00:00Z',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/86',
   'id': 6840253,
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/86/labels',
   'node_id': 'MDk6TWlsZXN0b25lNjg0MDI1Mw==',
   'number': 86,
   'open_issues': 68,
   'state': 'open',
   'title': '1.4',
   'updated_at': '2021-10-10T14:39:46Z',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/86'},
  'node_id': 'PR_kwDOAA0YD84s-q9w',
  'number': 43952,
  'performed_via_github_app': None,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/43952.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/43952',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/43952.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/43952'},
  'reactions': {'+1': 0,
   '-1': 0,
   'confused': 0,
   'eyes': 0,
   'heart': 0,
   'hooray': 0,
   'laugh': 0,
   'rocket': 0,
   'total_count': 0,
   'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43952/reactions'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43952/timeline',
  'title': 'REF: share RangeIndex methods',
  'updated_at': '2021-10-10T15:04:36Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43952',
  'user': {'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/jbrockmendel',
   'id': 8078968,
   'login': 'jbrockmendel',
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',

* Create a dataframe with fields (columns) of interests

In [ ]:
import pandas as pd
df4 = pd.DataFrame(v1, columns=['number', 'title','labels','state'])

In [ ]:
df4

    number  ... state
0    43957  ...  open
1    43956  ...  open
2    43955  ...  open
3    43953  ...  open
4    43952  ...  open
5    43951  ...  open
6    43950  ...  open
7    43949  ...  open
8    43945  ...  open
9    43944  ...  open
10   43943  ...  open
11   43942  ...  open
12   43941  ...  open
13   43940  ...  open
14   43939  ...  open
15   43938  ...  open
16   43937  ...  open
17   43934  ...  open
18   43932  ...  open
19   43931  ...  open
20   43930  ...  open
21   43929  ...  open
22   43926  ...  open
23   43925  ...  open
24   43923  ...  open
25   43917  ...  open
26   43915  ...  open
27   43913  ...  open
28   43911  ...  open
29   43909  ...  open

[30 rows x 4 columns]

* filtering out missing data
* using dropna method

In [ ]:
from numpy import nan as NA

In [ ]:
series1 = pd.Series([1,NA,3.5,NA,7])

In [ ]:
series1.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

* Using notnull method and boolean indexing

In [ ]:
series1[series1.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [ ]:
df5 = pd.DataFrame([[1. ,6.5, 3.],[1., NA, NA],[NA,NA,NA],[NA,6.5,3.0]])

* drop any row having NaN in a dataframe
* using dropna method

In [ ]:
df5

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
df5.dropna()

     0    1    2
0  1.0  6.5  3.0

* drop rows where all elements are NAs
* using how argument

In [ ]:
df5.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

* drop columns using axis = 1

In [ ]:
df5[3] = 8
df5

     0    1    2  3
0  1.0  6.5  3.0  8
1  1.0  NaN  NaN  8
2  NaN  NaN  NaN  8
3  NaN  6.5  3.0  8

In [ ]:
df5.dropna(axis=1)

   3
0  8
1  8
2  8
3  8

In [ ]:
df5[4] = NA
df5

     0    1    2  3   4
0  1.0  6.5  3.0  8 NaN
1  1.0  NaN  NaN  8 NaN
2  NaN  NaN  NaN  8 NaN
3  NaN  6.5  3.0  8 NaN

In [ ]:
df5.dropna(axis=1, how='all')

     0    1    2  3
0  1.0  6.5  3.0  8
1  1.0  NaN  NaN  8
2  NaN  NaN  NaN  8
3  NaN  6.5  3.0  8

* filter out rows with less than a specified no. of columns without NA values

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df6 = pd.DataFrame(np.random.randn(7,13))
df6.iloc[:4,1] = NA
df6.iloc[:2,2] = NA
df6

         0         1         2   ...        10        11        12
0  0.078624       NaN       NaN  ... -0.323266  0.062785 -0.772206
1 -0.502002       NaN       NaN  ... -1.933968  1.142578  1.793668
2 -2.328323       NaN  0.552428  ...  0.051109  0.332751  1.490032
3  0.279683       NaN  0.667056  ... -0.056129  0.539402 -0.746267
4  0.729408 -0.438883 -1.205006  ... -0.650515  0.334396 -1.175251
5  0.395884 -0.550175  0.916144  ... -1.723506 -0.453609  0.524999
6  0.244763 -0.251921  0.414033  ... -0.674789 -0.343828  0.995483

[7 rows x 13 columns]

* using thresh argument

In [ ]:
df6.dropna(thresh=2)

         0         1         2   ...        10        11        12
0  0.078624       NaN       NaN  ... -0.323266  0.062785 -0.772206
1 -0.502002       NaN       NaN  ... -1.933968  1.142578  1.793668
2 -2.328323       NaN  0.552428  ...  0.051109  0.332751  1.490032
3  0.279683       NaN  0.667056  ... -0.056129  0.539402 -0.746267
4  0.729408 -0.438883 -1.205006  ... -0.650515  0.334396 -1.175251
5  0.395884 -0.550175  0.916144  ... -1.723506 -0.453609  0.524999
6  0.244763 -0.251921  0.414033  ... -0.674789 -0.343828  0.995483

[7 rows x 13 columns]

* filling in the missing data
* using fillna method
* e.g., replace NAs with 0s

In [ ]:
df6.fillna(0)

         0         1         2   ...        10        11        12
0  0.078624  0.000000  0.000000  ... -0.323266  0.062785 -0.772206
1 -0.502002  0.000000  0.000000  ... -1.933968  1.142578  1.793668
2 -2.328323  0.000000  0.552428  ...  0.051109  0.332751  1.490032
3  0.279683  0.000000  0.667056  ... -0.056129  0.539402 -0.746267
4  0.729408 -0.438883 -1.205006  ... -0.650515  0.334396 -1.175251
5  0.395884 -0.550175  0.916144  ... -1.723506 -0.453609  0.524999
6  0.244763 -0.251921  0.414033  ... -0.674789 -0.343828  0.995483

[7 rows x 13 columns]

* e.g., replace as per a dict
* column 1: 0.5, 2: 0

In [ ]:
df6.fillna({1: 0.5,2:0})

         0         1         2   ...        10        11        12
0  0.078624  0.500000  0.000000  ... -0.323266  0.062785 -0.772206
1 -0.502002  0.500000  0.000000  ... -1.933968  1.142578  1.793668
2 -2.328323  0.500000  0.552428  ...  0.051109  0.332751  1.490032
3  0.279683  0.500000  0.667056  ... -0.056129  0.539402 -0.746267
4  0.729408 -0.438883 -1.205006  ... -0.650515  0.334396 -1.175251
5  0.395884 -0.550175  0.916144  ... -1.723506 -0.453609  0.524999
6  0.244763 -0.251921  0.414033  ... -0.674789 -0.343828  0.995483

[7 rows x 13 columns]

* in-place modifying the dataframe
* using the inplace argument

In [ ]:
_ = df6.fillna(0,inplace=True)

In [ ]:
df6

         0         1         2   ...        10        11        12
0  0.078624  0.000000  0.000000  ... -0.323266  0.062785 -0.772206
1 -0.502002  0.000000  0.000000  ... -1.933968  1.142578  1.793668
2 -2.328323  0.000000  0.552428  ...  0.051109  0.332751  1.490032
3  0.279683  0.000000  0.667056  ... -0.056129  0.539402 -0.746267
4  0.729408 -0.438883 -1.205006  ... -0.650515  0.334396 -1.175251
5  0.395884 -0.550175  0.916144  ... -1.723506 -0.453609  0.524999
6  0.244763 -0.251921  0.414033  ... -0.674789 -0.343828  0.995483

[7 rows x 13 columns]

* using interpolation method such as ffill

In [ ]:
df7 = pd.DataFrame(np.random.randn(6,3))
df7.iloc[2:,1] = NA
df7.iloc[4:,2] = NA
df7

          0         1         2
0  0.127100  2.175992  0.052439
1  0.356876  1.027672 -1.119335
2  0.698249       NaN  1.037873
3  0.579264       NaN -0.614180
4 -0.536057       NaN       NaN
5  0.834943       NaN       NaN

In [ ]:
df7.fillna(method='ffill')

          0         1         2
0  0.127100  2.175992  0.052439
1  0.356876  1.027672 -1.119335
2  0.698249  1.027672  1.037873
3  0.579264  1.027672 -0.614180
4 -0.536057  1.027672 -0.614180
5  0.834943  1.027672 -0.614180

* limit the interpolation upto 2 times

In [ ]:
df7.fillna(method='ffill', limit=2)

          0         1         2
0  0.127100  2.175992  0.052439
1  0.356876  1.027672 -1.119335
2  0.698249  1.027672  1.037873
3  0.579264  1.027672 -0.614180
4 -0.536057       NaN -0.614180
5  0.834943       NaN -0.614180

* Pass the mean or median value

In [ ]:
df7.fillna(df7.mean())

          0         1         2
0  0.127100  2.175992  0.052439
1  0.356876  1.027672 -1.119335
2  0.698249  1.601832  1.037873
3  0.579264  1.601832 -0.614180
4 -0.536057  1.601832 -0.160801
5  0.834943  1.601832 -0.160801

* removing duplicates

In [ ]:
df8 = pd.DataFrame({'k1':['one','two']*3 + ['two'], 'k2':[1,1,2,3,3,4,4]})
df8

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

* using duplicate method to find duplicate rows

In [ ]:
df8.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

* dropping duplicate rows
* using drop_duplicates

In [ ]:
df8.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

* dropping duplicate rows based on one particular columns instead of all the columns

In [ ]:
df8['v1'] = range(7)

In [ ]:
df8

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

* drop duplicate rows based on column k1

In [ ]:
df8.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

* keeping the last instance of duplicate rows instead of the first one (default)
* using keep argument

In [ ]:
df8.drop_duplicates(['k1','k2'], keep = 'last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

In [ ]:
df8.drop_duplicates(['k1','k2'])

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5

* perform transformations based on mappings
* data transformations based on values
* e.g., mapping of each distinct agro food products to the argricultural crop

In [ ]:
df9 = pd.DataFrame({'food':['atta','maida','atta','sugar','gudh','atta',
                            'sugar','daliya','besan'],'ounces':
                    [4,3,12,6,7.5,8,3,5,6]})

In [ ]:
df9

     food  ounces
0    atta     4.0
1   maida     3.0
2    atta    12.0
3   sugar     6.0
4    gudh     7.5
5    atta     8.0
6   sugar     3.0
7  daliya     5.0
8   besan     6.0

In [ ]:
dict1 = {'atta':'wheat',
         'maida':'wheat',
         'sugar':'sugarcane',
         'gudh':'sugarcane',
         'daliya':'wheat',
         'besan':'chana dal'}
dict1

{'atta': 'wheat',
 'besan': 'chana dal',
 'daliya': 'wheat',
 'gudh': 'sugarcane',
 'maida': 'wheat',
 'sugar': 'sugarcane'}

* add a column in the dataframe to indicate the crop
* using map method to extract mapping from the dict object

In [ ]:
df9['crop'] = df9['food'].map(dict1)

In [ ]:
df9

     food  ounces       crop
0    atta     4.0      wheat
1   maida     3.0      wheat
2    atta    12.0      wheat
3   sugar     6.0  sugarcane
4    gudh     7.5  sugarcane
5    atta     8.0      wheat
6   sugar     3.0  sugarcane
7  daliya     5.0      wheat
8   besan     6.0  chana dal

* replacing vvalues using replace method

In [ ]:
series2 = pd.Series([1.,-999., 2., -999.,-1000.,3.])
series2

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

* -999 values seem to be sentinel value for missing data
* replace these with NAs

In [ ]:
series2.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

* replace multiple values
* e.g., -999, -1000

In [ ]:
series2.replace([-999,-1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

* different replacement for each value

In [ ]:
series2.replace([-999, -1000], [np.nan,-1])

0    1.0
1    NaN
2    2.0
3    NaN
4   -1.0
5    3.0
dtype: float64

In [ ]:
series2.replace({-999: np.nan, -1000:-1})

0    1.0
1    NaN
2    2.0
3    NaN
4   -1.0
5    3.0
dtype: float64

* renaming index labels

In [ ]:
df10 = pd.DataFrame(np.arange(12).reshape((3,4)), index=['Delhi','Mumbai'
,'Banaglore'], columns = ['one', 'two', 'three', 'four'])
df10

           one  two  three  four
Delhi        0    1      2     3
Mumbai       4    5      6     7
Banaglore    8    9     10    11

In [ ]:
f1 = lambda x: x[:3].upper()

* using map method of axis indexes

In [ ]:
df10.index.map(f1)

Index(['DEL', 'MUM', 'BAN'], dtype='object')

In [ ]:
df10.index = df10.index.map(f1)
df10

     one  two  three  four
DEL    0    1      2     3
MUM    4    5      6     7
BAN    8    9     10    11

* using rename method

In [ ]:
df10

     one  two  three  four
DEL    0    1      2     3
MUM    4    5      6     7
BAN    8    9     10    11

In [ ]:
df10.rename(index = str.title, columns = str.upper)

     ONE  TWO  THREE  FOUR
Del    0    1      2     3
Mum    4    5      6     7
Ban    8    9     10    11

* using dict mapping with rename method

In [ ]:
df10

     one  two  three  four
DEL    0    1      2     3
MUM    4    5      6     7
BAN    8    9     10    11

In [ ]:
df10.rename(index={'DEL':'INDRAPRASTH'}, columns={'three':'teen'})

             one  two  teen  four
INDRAPRASTH    0    1     2     3
MUM            4    5     6     7
BAN            8    9    10    11

* inplace modification using rename
* using inplace argument

In [ ]:
df10

     one  two  three  four
DEL    0    1      2     3
MUM    4    5      6     7
BAN    8    9     10    11

In [ ]:
df10.rename(index={'DEL':'INDRAPRASTH'}, columns={'three':'teen'}, inplace=True)

In [ ]:
df10

             one  two  teen  four
INDRAPRASTH    0    1     2     3
MUM            4    5     6     7
BAN            8    9    10    11

* binning of continuous variables
* e.g., age

In [ ]:
ages = [20,22,25,27,21,23,37,31,61,45,41,32]

* bin lengths: 18-25, 26-35 etc
* specify the bin edges

In [ ]:
bins = [18,25,35,60,100]

**Lecture - 32**

**Python Working With Data - Part III**

* Create bin groups using cut function

In [ ]:
age_grps = pd.cut(ages, bins)
age_grps

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

* numeric codes for all the cases
* using codes attribute

In [ ]:
age_grps.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

* categories (bins) of age_grps variable

In [ ]:
age_grps.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

* frequencies for different categories (bins) of age_grps

In [ ]:
pd.value_counts(age_grps)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

* changing the open/close sides of the bin interval
* default: left side is open and right side is closed
* using 'right' argument in the cut function

In [ ]:
pd.cut(ages, [18,26,36,61,100], right = False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

* changing bin names
* using labels argument

In [ ]:
pd.cut(ages, bins, labels = ['Youth','YoungAdult','MiddleAged','Senior'])

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

* no. of equal length bins instead of specifying bin lengths (bin edges)
* bin length is based on min and max values

In [ ]:
var2 = np.random.rand(20)

* e.g., 4 bins

In [ ]:
pd.cut(var2,4,precision=2)

[(0.47, 0.7], (0.24, 0.47], (0.47, 0.7], (0.7, 0.93], (0.24, 0.47], ..., (0.0078, 0.24], (0.7, 0.93], (0.7, 0.93], (0.47, 0.7], (0.7, 0.93]]
Length: 20
Categories (4, interval[float64]): [(0.0078, 0.24] < (0.24, 0.47] < (0.47, 0.7] < (0.7, 0.93]]

* bin length based on sample quantiles
* roughly equal-length bins
* using qcut function

In [ ]:
var_grps = pd.qcut(var2, 4)
var_grps

[(0.594, 0.76], (0.357, 0.594], (0.594, 0.76], (0.76, 0.934], (0.00772, 0.357], ..., (0.00772, 0.357], (0.76, 0.934], (0.594, 0.76], (0.357, 0.594], (0.76, 0.934]]
Length: 20
Categories (4, interval[float64]): [(0.00772, 0.357] < (0.357, 0.594] < (0.594, 0.76] < (0.76, 0.934]]

* frequencies for bins

In [ ]:
pd.value_counts(var_grps)

(0.76, 0.934]       5
(0.594, 0.76]       5
(0.357, 0.594]      5
(0.00772, 0.357]    5
dtype: int64

* specify quantiles

In [ ]:
pd.qcut(var2, [0, 0.25, 0.5, 0.75, 1])

[(0.594, 0.76], (0.357, 0.594], (0.594, 0.76], (0.76, 0.934], (0.00772, 0.357], ..., (0.00772, 0.357], (0.76, 0.934], (0.594, 0.76], (0.357, 0.594], (0.76, 0.934]]
Length: 20
Categories (4, interval[float64]): [(0.00772, 0.357] < (0.357, 0.594] < (0.594, 0.76] < (0.76, 0.934]]

* finding outliers
* Example

In [ ]:
df11 = pd.DataFrame(np.random.randn(1000, 4))

In [ ]:
df11.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.009472    -0.007293     0.046525     0.007975
std       1.011275     1.004040     0.971456     1.033906
min      -3.193864    -3.259454    -2.662670    -3.284408
25%      -0.696665    -0.677883    -0.600010    -0.673295
50%      -0.051956    -0.054421     0.066068     0.022567
75%       0.677422     0.655890     0.749357     0.713240
max       3.247090     3.715691     2.903669     2.958483

* find values exceeding 3 or -3 for a particular column
* e.g, column 2(third)

In [ ]:
df11[2][np.abs(df11[2])>3]

Series([], Name: 2, dtype: float64)

* find rows with values exceeding 3 or -3 in any column

In [ ]:
df11[(np.abs(df11)>3).any(1)]

            0         1         2         3
28   3.247090 -0.380408 -0.241974 -1.370473
265 -0.348675  0.041079 -0.512638 -3.284408
326 -0.257331  3.331684 -0.241427 -0.354472
392 -3.021663 -0.208770 -0.456779  0.136490
398  0.388423  0.656075 -1.606351 -3.113939
401 -0.318283 -3.259454 -0.463352 -0.676431
451  3.145177 -0.497985 -0.602094 -0.539025
467 -3.002805 -0.515872  0.932258  0.714080
471 -0.032261  3.625040 -0.704191 -0.041869
680  1.287694  3.715691  1.000786  1.043221
821 -3.193864  0.592739  0.096101  0.500393

* modifying values outside a given range
* e.g., replace values outside the range -3 to 3 as -3 or 3
* use sign function to record the sign of values (1 or -1)

In [ ]:
df11[(np.abs(df11)>3)] = np.sign(df11)*3

In [ ]:
df11.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.009646    -0.008706     0.046525     0.008373
std       1.009398     0.997692     0.971456     1.032700
min      -3.000000    -3.000000    -2.662670    -3.000000
25%      -0.696665    -0.677883    -0.600010    -0.673295
50%      -0.051956    -0.054421     0.066068     0.022567
75%       0.677422     0.655890     0.749357     0.713240
max       3.000000     3.000000     2.903669     2.958483

* random sampling and random reordering of rows 
* Example:

In [ ]:
df12 = pd.DataFrame(np.arange(5000*4).reshape((5000,4)))
df12

          0      1      2      3
0         0      1      2      3
1         4      5      6      7
2         8      9     10     11
3        12     13     14     15
4        16     17     18     19
...     ...    ...    ...    ...
4995  19980  19981  19982  19983
4996  19984  19985  19986  19987
4997  19988  19989  19990  19991
4998  19992  19993  19994  19995
4999  19996  19997  19998  19999

[5000 rows x 4 columns]

* to randomly sample n rows without replacement
* using sample method
* e.g., 500 rows

In [ ]:
df12.sample(n=500)

          0      1      2      3
27      108    109    110    111
994    3976   3977   3978   3979
2660  10640  10641  10642  10643
277    1108   1109   1110   1111
4431  17724  17725  17726  17727
...     ...    ...    ...    ...
4990  19960  19961  19962  19963
4476  17904  17905  17906  17907
279    1116   1117   1118   1119
861    3444   3445   3446   3447
3628  14512  14513  14514  14515

[500 rows x 4 columns]

* with replacement
* using replace argument

In [ ]:
df12.sample(n = 500, replace=True)

          0      1      2      3
4230  16920  16921  16922  16923
4059  16236  16237  16238  16239
3013  12052  12053  12054  12055
2388   9552   9553   9554   9555
1449   5796   5797   5798   5799
...     ...    ...    ...    ...
3886  15544  15545  15546  15547
4018  16072  16073  16074  16075
3417  13668  13669  13670  13671
697    2788   2789   2790   2791
926    3704   3705   3706   3707

[500 rows x 4 columns]

* random reordering of row indices
* using permutation function

In [ ]:
df13 = pd.DataFrame(np.arange(5*4).reshape((5,4)))

In [ ]:
df13

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

* output indicates the new order drawn randomly

In [ ]:
permut = np.random.permutation(5)
permut

array([1, 0, 4, 3, 2])

* reindexing using reindex method

In [ ]:
df13.reindex(permut)

    0   1   2   3
1   4   5   6   7
0   0   1   2   3
4  16  17  18  19
3  12  13  14  15
2   8   9  10  11

* reindexing using take method

In [ ]:
df13.take(permut)

    0   1   2   3
1   4   5   6   7
0   0   1   2   3
4  16  17  18  19
3  12  13  14  15
2   8   9  10  11

* dummy variable
* converting categorical variables into dummy variables
* dummy variables are filled with 1s (prsence of the category in a row or case)
* and 0s (absence of the category in a row or case)
* Let's take a categorical variable with k distinct values (categories)

In [ ]:
df14 = pd.DataFrame({'var':['b','b','a','c','a','b']})
df14

  var
0   b
1   b
2   a
3   c
4   a
5   b

* using get_dummies function
* e.g., var has 3 distinct values: 'a', 'b','c'

In [ ]:
pd.get_dummies(df14['var'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

* renaming the dummy variables
* using prefix argument

In [ ]:
pd.get_dummies(df14['var'], prefix='var')

   var_a  var_b  var_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

* combining dummy creation and binning
* using a combination of get_dummies and cut functions

In [ ]:
var3 = np.random.rand(10)

In [ ]:
var3

array([0.1287464 , 0.24090146, 0.40515713, 0.30651588, 0.96789781,
       0.88453801, 0.60764316, 0.62368779, 0.65765806, 0.9528535 ])

In [ ]:
bins1 = [0,0.2,0.4,0.6,0.8,1]

In [ ]:
pd.cut(var3, bins1)

[(0.0, 0.2], (0.2, 0.4], (0.4, 0.6], (0.2, 0.4], (0.8, 1.0], (0.8, 1.0], (0.6, 0.8], (0.6, 0.8], (0.6, 0.8], (0.8, 1.0]]
Categories (5, interval[float64]): [(0.0, 0.2] < (0.2, 0.4] < (0.4, 0.6] < (0.6, 0.8] < (0.8, 1.0]]

In [ ]:
pd.get_dummies(pd.cut(var3, bins1))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           1           0           0           0           0
1           0           1           0           0           0
2           0           0           1           0           0
3           0           1           0           0           0
4           0           0           0           0           1
5           0           0           0           0           1
6           0           0           0           1           0
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           0           1

**Lecture 33**

**String and Text Processing Part I**

* Python is quite popular for its ease of use for text operations
* string object's built - in methods are sufficient for most text operation
* regular expression can be used for complex pattern matching and text manipulations
* Example: creating terms from a comma-separated string

In [ ]:
str1 = 'a, ab, abc, abcd, abcde'

In [ ]:
str1

'a, ab, abc, abcd, abcde'

* create a list of terms using split method

In [ ]:
str1.split(',')

['a', ' ab', ' abc', ' abcd', ' abcde']

* combine split with strip (to trim whitespace)

In [ ]:
terms = [x.strip() for x in str1.split(',')]

In [ ]:
terms

['a', 'ab', 'abc', 'abcd', 'abcde']

* Example: concatenation of strings with delimiters
* e.g., :: as a delimiter
* first approach:
* first segregate each term

In [ ]:
first, second, third, fourth, fifth = terms

* using + operator for cancatenation

In [ ]:
first + '::' + second + '::' + third + '::' + fourth + '::' + fifth

'a::ab::abc::abcd::abcde'

* Second apporoach:
* using join method

In [ ]:
'::'.join(terms)

'a::ab::abc::abcd::abcde'

* Example: checking presence of a term or finding its index in the string

In [ ]:
str1

'a, ab, abc, abcd, abcde'

* using in keyword

In [ ]:
'abcd' in str1

True

* using index method

In [ ]:
str1.index('abcd')

12

In [ ]:
str1.index('abcdef')

ValueError: ignored

* using find method

In [ ]:
str1.find('abcd')

12

In [ ]:
str1.find('abcdef')

-1

* Example: counting the occurences of a term and replacing with a substitute 
* using count method

In [ ]:
str1

'a, ab, abc, abcd, abcde'

In [ ]:
str1.count('abc')

3

* using replace method
* e.g., replace ',' with ''

In [ ]:
str1.replace(',','')

'a ab abc abcd abcde'

* e.g, replace ',' with ':'

In [ ]:
str1.replace(',',':')

'a: ab: abc: abcd: abcde'

* regular expressions

* regular expressions
* using Python's built-in re module
* three types of functions: pattern matching, substitution, and splitting
* a regex describes a pattern to locate in the text
* Execution mechanism:
* Ist approach: suitables when one or two texts or stringd are to be processed using some re
* for a given line of code involving regex to process a text
* first regex is compiled internally then code is applied on the text
* IInd approach: suitable when many texts or strings are to be processed using same regex
* regex can be compiled and reused as a regex object

In [ ]:
import re

* Example: split a string having different types of whitespace characters(tabs, spaces, and newlines)
* regex: '\s+'

In [ ]:
text = "om namah\t shivay \tchant"

* Ist 
* using split function

In [ ]:
re.split('\s+', text)

['om', 'namah', 'shivay', 'chant']

* IInd 
* using compile function

In [ ]:
regex = re.compile('\s+')

In [ ]:
regex.split(text)

['om', 'namah', 'shivay', 'chant']

* List of all patterns matching a regex
* using findall method
* return all the matches

In [ ]:
regex.findall(text)

[' ', '\t ', ' \t']

* Example: identify email addresses from a text block

In [ ]:
text1 = """Ramesh ramesh@iitr.ac.in
Mukesh mukesh@gmail.com
Rajib rajib@gmail.com
Santosh santosh@yahoo.com
"""

* regular expression to identify most email addresses

In [ ]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

* compile the regex

In [ ]:
regex1 = re.compile(pattern, flags=re.IGNORECASE)

* using findall method to produce all the email addresses

In [ ]:
regex1.findall(text1)

['ramesh@iitr.ac.in',
 'mukesh@gmail.com',
 'rajib@gmail.com',
 'santosh@yahoo.com']

* using search method
* returns a match object with only the start and end position of the first match of the pattern in the string

In [ ]:
m1 = regex1.search(text1)

* using start and end methods of the match object

In [ ]:
text1[m1.start():m1.end()]

'ramesh@iitr.ac.in'

* using match method
* checks for matches only at the start of the string

In [ ]:
regex1.match(text1)

In [ ]:
print(regex1.match(text1))

None

* using sub method to find and replace all the occurences of the pattern with a subsitute

In [ ]:
regex1.sub('found', text1)

'Ramesh found\nMukesh found\nRajib found\nSantosh found\n'

In [ ]:
print(regex1.sub('found', text1))

Ramesh found
Mukesh found
Rajib found
Santosh found

* Example: find email addresses and segment each address into its three components:
* username, domain name, and domain suffix
* parentheses around the parts of the pattern to segemt

In [ ]:
pattern1 = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

* compile the regex

In [ ]:
regex2 = re.compile(pattern1, flags=re.IGNORECASE)

* Using findall to produce a list of tuples having the segregated components

In [ ]:
regex2.findall(text1)

[('ramesh', 'iitr.ac', 'in'),
 ('mukesh', 'gmail', 'com'),
 ('rajib', 'gmail', 'com'),
 ('santosh', 'yahoo', 'com')]

* using sub method to print segregated components
* additional functionality of sub method: symbol-component mapping 
* \1 refers to the first component, \2 refers to the second, and so forth

In [ ]:
print(regex2.sub(r'Username: \1, Domain: \2, Suffix: \3', text1))

Ramesh Username: ramesh, Domain: iitr.ac, Suffix: in
Mukesh Username: mukesh, Domain: gmail, Suffix: com
Rajib Username: rajib, Domain: gmail, Suffix: com
Santosh Username: santosh, Domain: yahoo, Suffix: com

* Example: segregate pattern components

In [ ]:
text2 = "ramesh@iitr.ac.in"

**Lecture 33**

**String and Text Processing Part II**